@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    letter-spacing: .2px;
}

body {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', Times, serif;
    background-color: #17161e;
}

.pull-reqs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px;
}

.pr-card {
    perspective: 1000px;
    width: 350px;
    height: 400px;
}

.pr-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 15px;
}

.pr-card:hover .pr-card-inner {
    transform: rotateY(180deg);
}

.pr-card-front, .pr-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    justify-content: center;
    align-items: center;
}

.pr-card-front {
    background: linear-gradient(135deg, #1f1f2e, #2e2e3f);
}

.pr-card-back {
    background: linear-gradient(135deg, #29283a, #3d3c5c);
    transform: rotateY(180deg);
}

.pr-card .top {
    width: 100%;
    display: flex;
    align-items: center;
}

.pr-card .top .left {
    width: 30%;
}

.pr-card .top .left img {
    width: 75%;
    border-radius: 50%;
}

.pr-card .top .right {
    width: 60%;
    margin: auto;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.pr-card .top .right h4 {
    color: #ddd;
}

.pr-card .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    text-align: left;
}

.pr-card .bottom .time-created {
    border-radius: 10px;
    padding: 10px;
}

.pr-card .bottom p {
    
    padding: 10px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pr-card .pr-status {
    background-color: #17161e;
    padding: 10px;
    border-radius: 5px;
}

.pr-card .pr-status.merged {
    color: rgb(23, 247, 23);
}

.pr-card .pr-status.pending {
    color: #dfb11b;
}

.pr-card .pr-status.denied {
    color: #d51212;
}

.pr-card .bottom .view-btn {
    border-radius: 10px;
    padding: 7px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #444;
    color: white;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.pr-card .bottom .view-btn:hover {
    background-color: #666;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.pr-card .pr-card-back .view-btn {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: 2px solid #666;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.pr-card .pr-card-back .view-btn:hover {
    background-color: #666;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

@media all and (max-width : 375px) {
    .pull-reqs {
        padding: 10px;
    }
    .pr-card {
        width: 260px;
        font-size: 16px;
        height: 310px;
    }
    .pr-card .top {
        height: 18%;
    }
    .pr-card .top .right {
        font-size: 16px;
    }
    .pr-card .bottom {
        font-size: 16px;
        gap: 7px;
    }
}
